{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'navbar.html' %}

<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_3">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>About Us</h3>
                    <p>"Your Ultimate Guide to Unforgettable Adventures"</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->

<div class="about_story">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="story_heading">
                    <h3 class="mc">Welcome to Traveller</h3>
                </div>
                <div class="row">
                    <div class="col-lg-11 offset-lg-1">
                        <div class="story_info">
                            <div class="row">
                                <div class="col-lg-9">
                                    <p>At Traveller, we're passionate about travel and dedicated to helping you discover the world in the most enriching and hassle-free way possible. Whether you're planning a weekend getaway, a family vacation, or an exotic adventure, we are here to make your travel dreams a reality.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="story_heading">
                    <h3>Our Story</h3>
                </div>
                <div class="row">
                    <div class="col-lg-12 ml-lg-5">
                        <div class="story_info">
                            <div class="row">
                                <div class="col-lg-10">
                                    <p>Founded in 2024, Traveller was born from a love of exploration and a desire to share the world's beauty with others. Our team of seasoned travelers and industry professionals has spent years traversing the globe, uncovering hidden gems, and forging connections with local communities to bring you authentic and unforgettable travel experiences.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="story_heading">
                    <h3>Our Mission</h3>
                </div>
                <div class="row">
                    <div class="col-lg-12 ml-lg-5">
                        <div class="story_info">
                            <div class="row">
                                <div class="col-lg-10">
                                    <p>Our mission is to inspire and empower travelers to explore the world with confidence and curiosity. We believe that travel has the power to transform lives, broaden horizons, and foster a deeper understanding of different cultures and people. By providing reliable information, personalized services, and exceptional value, we aim to be your trusted companion on every journey.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% include 'extra_footer.html' %}
{% include 'footer.html' %}
{% endblock %}