{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="vh-100">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 text-black pt-5 px-5 she">
          <a href="{% url 'home'%}">
            <i class="fa fa-compass fa-3x" style="color: #FF4A52;"></i><i class="h1"> <i style="color: #FF4A52;">T</i>raveller</i>
        </a>
            <p class="myff">"Adventure Awaits"</p>
            {% for message in messages %}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                      <span class="sr-only">Close</span>
                  </button>
                  {{ message }}
              </div>
            {% endfor %}
            <form action="login" method="post">
              {% csrf_token %}
              <input type="hidden" name="next" value="{{ next }}">
                <div data-mdb-input-init class="form-outline mb-4">
                    <input type="text" id="form3Example3" class="form-control form-control-lg" name="username"
                      placeholder="Enter your username" />
                  </div>
        
                  <!-- Password input -->
                  <div data-mdb-input-init class="form-outline mb-3">
                    <input type="password" id="form3Example4" class="form-control form-control-lg" name="password"
                      placeholder="Enter password" />
                  </div>
        
                  <div class="d-flex justify-content-between align-items-center">
                    <!-- Checkbox -->
                    <div class="form-check mb-0">
                      <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                      <label class="form-check-label" for="form2Example3">
                        Remember me
                      </label>
                    </div>
                    <a href="#!" class="text-body">Forgot password?</a>
                  </div>
        
                  <div class="text-center text-lg-start mt-4 pt-2">
                    <button  type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg"
                      style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
                    <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="{% url 'register' %}"
                        class="link-danger">Register</a></p>
                  </div>
            </form>
            <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start mt-4">
                <h2 class="mb-0 px-3 ms-5 me-3">FOLLOW US</h2>
                    <a target="_blank" class="mx-3" href="https://github.com/Yuvaprakash24">
                        <i class="fa fa-github fa-2x si"></i>
                    </a>
                    <a target="_blank" class="mx-3" href="https://www.linkedin.com/in/yuva-prakash-sai-gunupuru-059204227/">
                        <i class="fa fa-linkedin fa-2x si"></i>
                    </a>
                    <a target="_blank" class="mx-3" href="https://www.instagram.com/yuvaprakash_24">
                        <i class="fa fa-instagram fa-2x si"></i>
                    </a>
                    <a target="_blank" class="mx-3" href="https://x.com/iam_yuvi24">
                        <i class="fa fa-twitter fa-2x si"></i>
                    </a>
              </div>
        </div>
        <div class="col-sm-6 px-0 d-none d-sm-block">
          <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img3.webp" -->
           <img src="/media/timgs/loginch.jpg"
            alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: left;">
        </div>
      </div>
    </div>
  </section>
{% endblock %}