{% load static %}
<header>
    <div class="header-area ">
        <div id="sticky-header" class="main-header-area">
            <div class="container-fluid">
                <div class="header_bottom_border">
                    <div class="row align-items-center">
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo">
                                <a href="{% url 'home'%}">
                                    <i class="fa fa-compass fa-2x" style="color: #FF4A52;"></i><i class="h2"> <i style="color: #FF4A52;">T</i>raveller</i>
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="main-menu d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a class="active" href="{% url 'home' %}">home</a></li>
                                        <li><a href="{% url 'about' %}">About</a></li>
                                        <li><a class="" href="{% url 'destination' %}">Destination</a></li>
                                        <li><a href="{% url 'contact' %}">Contact</a></li>
                                        {% if user.is_authenticated %}
                                            <!-- <div class="btn-group">
                                                <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                                Hello, {{ user.username }}
                                                </button>
                                                <ul class="dropdown-menu text-center">
                                                <li><a class="dropdown-item p-1" href="#"><i class="fa fa-user-circle" style="font-size: large;"></i> My Profile</a></li>
                                                <li><a class="dropdown-item p-1" href="#">My Plans</a></li><br>
                                                <li><a class="dropdown-item p-1" href="logout">Logout</a></li>
                                                </ul>
                                            </div> -->
                                            <li><a>Hello, {{ user.username }}</a> <i class="dropdown-toggle"></i>
                                                <ul class="submenu text-center">
                                                    <li><a href="{% url 'myprofile' %}"><i class="fa fa-user-circle" style="font-size: large;"></i> My Profile</a></li>
                                                    <li><a href="{% url 'mytrips' %}">My Trips</a></li>
                                                    <li><a href="{% url 'logout' %}">Logout</a></li>
                                                </ul>
                                            </li>
                                        {% else %}
                                        <li><a href="{% url 'login' %}?next={{ request.path }}">Login / Register</a></li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 d-none d-lg-block">
                            <div class="social_wrap d-flex align-items-center justify-content-end">
                                <div class="number">
                                    <p> <i class="fa fa-phone"></i> +91 9440356328</p>
                                </div>
                                <div class="social_links d-none d-xl-block">
                                    <ul>
                                        <li><a target="_blank" href="https://github.com/Yuvaprakash24"> <i class="fa fa-github"></i> </a></li>
                                        <li><a target="_blank" href="https://www.linkedin.com/in/yuva-prakash-sai-gunupuru-059204227/"> <i class="fa fa-linkedin"></i> </a></li>
                                        <li><a target="_blank" href="https://www.instagram.com/yuvaprakash_24"> <i class="fa fa-instagram"></i> </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="seach_icon">
                            <a data-toggle="modal" data-target="#exampleModalCenter" href="#">
                                <i class="fa fa-search"></i>
                            </a>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>
<!-- header-end -->
 <!-- Modal -->
 <div class="modal fade custom_search_pop" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="serch_form">
            <form action="{% url 'search_redirect' %}" method="POST">
                {% csrf_token %}
                <input type="text" name="search_query" placeholder="Search Places">
                <button class="plc_sep" type="submit">Search</button>
            </form>
        </div>
      </div>
    </div>
  </div>
    <!-- link that opens popup -->